.popup__input {
  display: block;
  width: 358px;
  font-family: inherit;
  padding-bottom: 7px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
}

.popup__input:last-child {
  height: 100px;
}

@media screen and (max-width: 700px) {

  .popup__input {
    width: 234px;
  }

}
