.popup__container {
  width: 430px;
  padding-top: 34px;
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #fff;
  border-radius: 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {

  .popup__container {
    width: 282px;
    padding-top: 25px;
    bottom: 40%;
  }

}
