.popup__input-error {
  max-width: 358px;
  font-family: Inter;
  font-weight: 400;
  line-height: 15px;
  font-size: 12px;
  color: #F00;
  opacity: 0;
  position: absolute;
  left: 2px;
  top: 28px;
  transition: 0.3s;
}
