.faq {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 115px 0;
}

/* .page__faq {

} */

.faq__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin: 0 0 20px;
}

.faq__dropdown-container {
  max-width: 700px;
  width: 50%;
  list-style: none;
  padding: 0;
}

.faq__dropdown-cell {
  border-top: 1px solid rgba(84,84,84,.7);
  padding: 14px 0;
  cursor: pointer;
}

.faq__dropdown-cell:last-child {
  border-bottom: 1px solid rgba(84,84,84,.7);
}

.faq__dropdown-title {
  line-height: 30px;
  margin: 0;
  min-width: 95%;
  display: flex;
  justify-content: space-between;
}

.faq__dropdown-title:hover {
  color: rgba(84,84,84,.7);
  transition: color .3s ease-in-out;
}

.faq__dropdown-title::after {
  content: '';
  display: block;
  height: 30px;
  width: 30px;
  background-image: url(../images/faq/popup__close-button.svg);
  transform: rotate(45deg);
  transition: transform .5s ease;
  background-repeat: no-repeat;
}

.faq__dropdown-cell_active .faq__dropdown-title::after {
  transform: rotate(180deg);
  transition: transform .5s ease;
}

.faq__dropdown-cell_active .faq__dropdown-text {
  display: block;
  transition: growDown 5s ease;
}

.faq__dropdown-text {
  max-width: 90%;
  display: none;
  margin-top: 14px;
  margin-bottom: 0;
  transition: growDown .5s ease;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
}

.footer__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.footer__text {
  max-width: 260px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.button {
  display: block;
  font-size: 20px;
  width: 180px;
  height: 42px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 28px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
}

.button:focus {
  outline: none;
}

.footer__button {
  box-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 85px;
}

.footer__button:hover {
  opacity: .7;
  transition: opacity .3s ease-in-out;
}

.footer__links-zone {
  padding: 0;
  width: 300px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.footer__link {
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.footer__link:hover {
  transform: scale(1.2);
  opacity: .5;
}

.footer__text-like {
  max-width: 240px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}


@media screen and (max-width: 415px) {

  .faq__dropdown-container {
    width: 80%;
  }

  .footer__button {
    width: 300px;
  }

  .footer {
    padding: 90px 0;
  }

  .faq {
    padding: 67px 0;
  }

}
@media screen and (max-width: 650px) {
  .faq__title {
    max-width: 256px;
  }
}


