.dropdown__title {
  line-height: 30px;
  margin: 0;
  min-width: 95%;
  display: flex;
  justify-content: space-between;
}

.dropdown__title:hover {
  color: rgba(84,84,84,.7);
  transition: color .3s ease-in-out;
}
