.dropdown__title {
  line-height: 30px;
  margin: 0;
  min-width: 95%;
  display: flex;
  justify-content: space-between;
}

.dropdown__title:hover {
  color: rgba(84,84,84,.7);
  transition: color .3s ease-in-out;
}

.dropdown__title::after {
  content: '';
  display: block;
  height: 30px;
  min-width: 30px;
  background-image: url(../../../images/faq/popup__close-button.svg);
  transform: rotate(45deg);
  transition: transform .5s ease;
  background-repeat: no-repeat;
  z-index: 0;
}
