.dropdown__cell_active .dropdown__title::after {
  transform: rotate(180deg);
  transition: transform .5s ease;
}

.dropdown__cell_active .dropdown__text {
  display: block;
  transition: growDown 5s ease;
}
