.menu__btn {
  display: none;
}

@media (max-width: 750px) {
  .menu__btn {
    display: block;
    position: absolute;
    top: 60px;
    right: 30px;
    width: 33px;
    height: 24px;
    background-image: url('../../../images/menu_btn.svg');
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .2s linear .23s;
    border: none;
    border: none;
    padding: 0;
   }

   .menu__btn:hover {
     opacity: .5;
     cursor: pointer;
   }
}


