.faq__dropdown-cell_active .faq__dropdown-icon {
  transform: rotate(180deg);
  transition: transform .5s ease;
}

.faq__dropdown-cell_active .faq__dropdown-text {
  display: block;
  transition: growDown 5s ease;
}
