.faq__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin: 0 0 20px;
}

@media screen and (max-width: 650px) {

  .faq__title {
    max-width: 256px;
  }

}
