.skills__cards-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  justify-content: space-between;
  margin: 0;
  width: 85%;
  gap: 80px 50px;
  width: 65%;
  max-width: 829px;
  min-width: 315px;
  padding: 0;
}
@media(max-width: 1000px) {
  .skills__cards-container {
    width: 85%;
  }
}

@media(max-width: 750px) {
  .skills__cards-container {
    grid-template-columns: repeat(2, 170px);
    justify-content: space-evenly;
  }
}

@media(max-width: 500px) {
  .skills__cards-container {
    grid-template-columns: 170px;
    justify-content: center;
  }
}

