.about {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #F6F6F6;
  padding-top: 110px
}


@media (max-width: 750px) {
  .about {
    padding-top: 80px
  }
}
