.popup__title {
  display: block;
  padding: 0 64px 36px 36px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

@media screen and (max-width: 700px) {

  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding: 0 22px;
  }

}
