.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 32px;
  border-bottom: 1px solid #000;
  max-width: 950px;
  min-width: 315px;
  width: 65%;
}

@media (max-width: 1000px) {
  .menu {
    width: 85%;
  }
}

@media (max-width: 750px) {
  .menu {
    display: none;
  }
}
